In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("C:/Users/mundl/OneDrive/Desktop/indeed_job_dataset.csv")
df

,Unnamed: 0,Job_Title,Link,Queried_Salary,Job_Type,Skill,No_of_Skills,Company,No_of_Reviews,No_of_Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0
5,5,Data Scientist - Entry to Experienced Level,https://www.indeed.com/rc/clk?jk=835a2db493898...,<80000,data_scientist,"['AI', 'Quantitative Analysis', 'Data Mining',...",6,National Security Agency,173.0,4.3,...,1,0,0,0,0,0,0,0,0,0
6,6,Geospatial Data Scientist,https://www.indeed.com/rc/clk?jk=6255c4e94a7ef...,<80000,data_scientist,"['Statistical Software', 'Machine Learning', '...",10,NYC Careers,30.0,3.8,...,0,0,0,0,0,0,0,0,0,1
7,7,Data Scientist,https://www.indeed.com/rc/clk?jk=f30ab3f52226b...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL']",3,OM Partners,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
8,8,Bioinformatics Data Scientist,https://www.indeed.com/rc/clk?jk=a6e45b6264f26...,<80000,data_scientist,"['Linux', 'R', 'C/C++', 'Python']",4,University of Idaho,233.0,4.2,...,0,0,0,1,0,0,0,0,0,1
9,9,Data Scientist,https://www.indeed.com/rc/clk?jk=56090c965b57d...,<80000,data_scientist,"['JavaScript', 'Data Mining', 'TS/SCI Clearanc...",6,usajobs.gov,4227.0,4.3,...,0,0,0,1,0,0,0,0,0,1
10,10,Data Scientist,https://www.indeed.com/rc/clk?jk=8c8963cb38cd4...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
11,11,Data Scientist,https://www.indeed.com/rc/clk?jk=dffcee22fbc26...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
12,12,Data Scientist,https://www.indeed.com/rc/clk?jk=290bda935f2da...,<80000,data_scientist,"['Machine Learning', 'Analysis Skills', 'Data ...",3,Rice University,150.0,4.3,...,0,0,0,0,0,0,0,0,0,1
13,13,Jr. Data Scientist - Machine Learning,https://www.indeed.com/rc/clk?jk=8c2855de0feec...,<80000,data_scientist,"['Machine Learning', 'Python']",2,Elev8 Hire Solutions,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
14,14,Data Scientist,https://www.indeed.com/rc/clk?jk=ba1b24901c041...,<80000,data_scientist,"['TensorFlow', 'Project Planning', 'Linux', 'M...",7,Catalina Marketing,81.0,3.2,...,0,0,0,1,1,0,0,0,0,0
15,15,Enrollment Data Scientist & Econometrician,https://www.indeed.com/rc/clk?jk=392a25a453825...,<80000,data_scientist,"['Machine Learning', 'R', 'Statisical Analysis...",11,Florida Polytechnic University,16.0,3.9,...,0,0,0,1,0,0,0,0,0,1
16,16,Junior Data Scientist,https://www.indeed.com/rc/clk?jk=31ae275f05456...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL', 'Analysis Ski...",6,Achievement Network (ANet),NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
17,17,Data Scientist,https://www.indeed.com/rc/clk?jk=6be53db39253f...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Mining', 'Machi...",12,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
18,18,Data Analytics and Machine Learning Specialist,https://www.indeed.com/rc/clk?jk=3a200a28f9041...,<80000,data_scientist,['Machine Learning'],1,ExxonMobil,2234.0,4.0,...,0,0,0,1,0,0,0,0,0,1
19,19,"Postdoctoral Associate/Data Scientist, Laborat...",https://www.indeed.com/rc/clk?jk=2037d50ef8655...,<80000,data_scientist,"['LMRT', 'Machine Learning']",2,MIT,278.0,4.2,...,0,0,0,0,0,0,0,0,0,1
20,20,innovationOchsner (iO) - Data Scientist - Bens...,https://www.indeed.com/rc/clk?jk=1ab50cdc801e4...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
21,21,Statistician/Data Scientist,https://www.indeed.com/rc/clk?jk=7ef6bcd4c1cb7...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
22,22,Statistician / Data Scientist,https://www.indeed.com/rc/clk?jk=e265edb0bb163...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
23,23,"Environmental Data Scientist, Bureau of Enviro...",https://www.indeed.com/rc/clk?jk=36b066c2b1fca...,<80000,data_scientist,"['Statistical Software', 'SAS', 'SQL', 'Tableau']",4,NYC Careers,265.0,4.1,...,0,0,0,0,0,0,0,0,0,1
24,24,Environmental Data Manager/Data Scientist (Ass...,https://www.indeed.com/rc/clk?jk=15f179f4a2c91...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Management', 'P...",8,ERM Group,86.0,3.3,...,0,0,0,1,1,0,0,0,0,0
25,25,Sr. Data Scientist - Secret,https://www.indeed.com/rc/clk?jk=9bad8e7ecfd34...,<80000,data_scientist,"['Data Mining', 'R', 'Python']",3,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
26,26,innovation Ochsner - iO - Data Scientist - Ben...,https://www.indeed.com/rc/clk?jk=637c5cf376758...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
27,27,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=2ddc548ea3f36...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
28,28,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=d5ad56e19ff35...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
29,29,Data Analysis & Machine Learning Postdoctoral ...,https://www.indeed.com/rc/clk?jk=fbe8ba212a66f...,<80000,data_scientist,"['TensorFlow', 'Machine Learning', 'Git', 'Pyt...",5,Lawrence Livermore National Laboratory,111.0,4.3,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5685,5685,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=99d043cebc246...,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5686,5686,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=0474dce9d6258...,>160000,data_engineer,"['Hadoop', 'Scala', 'Java', 'Spark', 'Python',...",6,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5687,5687,Senior Data Engineer/Architect,https://www.indeed.com/rc/clk?jk=21e1e9dd6f04c...,>160000,data_engineer,"['Hive', 'Data Management', 'Pentaho', 'Scala'...",10,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5688,5688,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=2470640938d33...,>160000,data_engineer,"['Hadoop', 'Scala', 'Kafka', 'C/C++', 'Java', ...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5689,5689,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=33ee5c43de096...,>160000,data_engineer,"['Java', 'Spark', 'Data Warehouse', 'Scripting...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5690,5690,Principal Big Data Engineer,https://www.indeed.com/rc/clk?jk=2cf967d752707...,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5691,5691,Senior Software Engineer for Data Engineering,https://www.indeed.com/rc/clk?jk=2428e4a75cb6b...,>160000,data_engineer,"['Chef', 'TensorFlow', 'AI', 'Hadoop', 'Scala'...",15,NVIDIA,177.0,4.2,...,0,0,0,0,0,0,0,0,0,1
5692,5692,Senior Big Data Engineer (Contract),https://www.indeed.com/rc/clk?jk=4086608989538...,>160000,data_engineer,"['Java', 'Linux', 'Software Development', 'Had...",4,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5693,5693,Sr. Principal Data Engineer (Technology Archit...,https://www.indeed.com/rc/clk?jk=490db7aac366d...,>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,...,0,0,0,0,0,1,0,0,0,0
5694,5694,Senior Java / Big Data Engineer - Enterprise C...,https://www.indeed.com/rc/clk?jk=e3607f410b452...,>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Hadoop', 'Kafka...",9,Bloomberg,671.0,3.9,...,0,0,0,0,0,0,0,0,0,1
5695,5695,"Data Engineer Contractor (Java, Hadoop)",https://www.indeed.com/rc/clk?jk=0f09885cd26ea...,>160000,data_engineer,"['Pig', 'Hive', 'Machine Learning', 'Hadoop', ...",7,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5696,5696,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=9f43993124152...,>160000,data_engineer,"['Information Security', 'Pentaho', 'Hadoop', ...",13,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5697,5697,Senior Software Engineer - Cloud Data Engineering,https://www.indeed.com/rc/clk?jk=949aff705c220...,>160000,data_engineer,"['Akka', 'Design Patterns', 'Hadoop', 'Scala',...",9,Hewlett Packard Enterprise,3653.0,3.7,...,0,0,0,0,0,1,0,0,0,0
5698,5698,Sr. Principal Data Engineer (Solutions Architect),https://www.indeed.com/rc/clk?jk=4be71179880ef...,>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,...,0,0,0,0,0,1,0,0,0,0
5699,5699,Principal Sr. Data Engineer Lead,https://www.indeed.com/rc/clk?jk=ef58343739d2c...,>160000,data_engineer,"['Azure', 'SQL', 'Design Experience', 'Leaders...",4,Microsoft,5180.0,4.2,...,0,0,0,0,0,1,0,0,0,0
5700,5700,"Senior Software Engineer, Data Engineering",https://www.indeed.com/rc/clk?jk=b5c04a7e845bc...,>160000,data_engineer,"['System Design', 'MySQL', 'Software Developme...",18,Glooko,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5701,5701,"Sr. Director, Data Engineering",https://www.indeed.com/rc/clk?jk=a99fa88bd7339...,>160000,data_engineer,"['SOX', 'Machine Learning', 'PCI', 'Leadership...",6,Capital One,6791.0,4.0,...,0,0,0,0,0,0,1,0,0,0
5702,5702,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=0ffa0be16424d...,>160000,data_engineer,"['Machine Learning', 'PostgreSQL', 'R', 'Pytho...",6,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5703,5703,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=de80f59060f3f...,>160000,data_engineer,"['Java', 'Linux', 'Spark', 'Data Warehouse', '...",8,Coda Search,2.0,4.5,...,0,0,0,0,0,0,0,0,0,1
5704,5704,"Senior Data Engineer (Java, Hadoop)",https://www.indeed.com/rc/clk?jk=5d29315391649...,>160000,data_engineer,"['Linux', 'Hive', 'Data Management', 'Hadoop',...",14,JPMorgan Chase,21159.0,3.9,...,0,0,0,1,0,0,1,0,0,0
5705,5705,Senior Big Data Engineer (Contract),https://www.indeed.com/rc/clk?jk=fa55202b266a5...,>160000,data_engineer,"['Hadoop', 'Kafka', 'Scala', 'Java', 'Big Data...",9,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5706,5706,Senior Software Engineer - Cloud Data Engineering,https://www.indeed.com/rc/clk?jk=3d7e7b605e28a...,>160000,data_engineer,NaN,0,Aruba Networks,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
5707,5707,"Senior Data Engineer (Java, Spark, Storm, AWS,...",https://www.indeed.com/rc/clk?jk=a64eddb574b49...,>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Kafka', 'Python...",6,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5708,5708,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=876eec2fa6d83...,>160000,data_engineer,"['Hive', 'Hadoop', 'Kafka', 'HBase', 'Java', '...",6,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5709,5709,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=d701a3a542966...,>160000,data_engineer,"['Ruby', 'Hadoop', 'Scala', 'R', 'Perl', 'SAS'...",12,Stride Search,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5710,5710,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=fbe2dd71643b3...,>160000,data_engineer,"['Hive', 'Hadoop', 'Oracle', 'SQL', 'HBase', '...",12,Intelliswift Software Inc,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5711,5711,"Principal Data Engineer (Java, Spark, Storm, AWS)",https://www.indeed.com/rc/clk?jk=70ee8b9bb5a2b...,>160000,data_engineer,"['Network', 'Scala', 'Kafka', 'Java', 'MongoDB...",8,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5712,5712,Executive Director- Architect: Data Engineerin...,https://www.indeed.com/rc/clk?jk=2c2a7f94f6ed1...,>160000,data_engineer,"['Spring', 'Data Management', 'Hadoop', 'Kafka...",13,JPMorgan Chase,21159.0,3.9,...,0,0,0,1,0,0,1,0,0,0
5713,5713,"Senior Manager, Data Engineering (hands on)",https://www.indeed.com/rc/clk?jk=1051e100b300b...,>160000,data_engineer,"['Spring', 'Ruby', 'Test Automation', 'Scripti...",15,Capital One,6791.0,4.0,...,0,0,0,0,0,0,1,0,0,0
5714,5714,Principal Visual Analytics / Big Data Engineer...,https://www.indeed.com/rc/clk?jk=605a2c61478f1...,>160000,data_engineer,"['JavaScript', 'TS/SCI Clearance', 'XML', 'Had...",11,SAIC,2279.0,4.0,...,1,0,0,0,0,0,0,0,0,1

In [3]:
df.describe()

,Unnamed: 0,No_of_Skills,No_of_Reviews,No_of_Stars,Date_Since_Posted,python,sql,machine learning,r,hadoop,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
count,5715.000000,5715.000000,4753.000000,4753.000000,5611.000000,5715.000000,5715.000000,5715.000000,5715.000000,5715.000000,...,5715.000000,5715.000000,5715.000000,5715.000000,5715.000000,5715.000000,5715.000000,5715.000000,5715.000000,5715.000000
mean,2857.000000,7.803675,4311.389649,3.845613,22.273570,0.581802,0.543132,0.401925,0.390901,0.299913,...,0.029571,0.024497,0.024322,0.283990,0.128259,0.113211,0.080315,0.059318,0.039720,0.248644
std,1649.922725,5.091596,17860.068211,0.409466,10.068934,0.493306,0.498180,0.490330,0.487995,0.458259,...,0.169416,0.154600,0.154060,0.450971,0.334407,0.316878,0.271804,0.236239,0.195318,0.432265
min,0.000000,0.000000,2.000000,1.300000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1428.500000,4.000000,33.000000,3.700000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2857.000000,7.000000,387.000000,3.900000,30.000000,1.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4285.500000,11.000000,2581.000000,4.100000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5714.000000,20.000000,157475.000000,5.000000,30.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
df.columns

Index(['Unnamed: 0', 'Job_Title', 'Link', 'Queried_Salary', 'Job_Type',
       'Skill', 'No_of_Skills', 'Company', 'No_of_Reviews', 'No_of_Stars',
       'Date_Since_Posted', 'Description', 'Location', 'Company_Revenue',
       'Company_Employees', 'Company_Industry', 'python', 'sql',
       'machine learning', 'r', 'hadoop', 'tableau', 'sas', 'spark', 'java',
       'Others', 'CA', 'NY', 'VA', 'TX', 'MA', 'IL', 'WA', 'MD', 'DC', 'NC',
       'Other_states', 'Consulting and Business Services',
       'Internet and Software', 'Banks and Financial Services', 'Health Care',
       'Insurance', 'Other_industries'],
      dtype='object')

In [5]:
df.rename(columns = {'No_of_Reviews':'Reviews','No_of_Stars':'Stars','Queried_Salary':'Salary','Company':'Company_Name','Company_Employees':'Employees', 'Company_Industry':'Industry','Company_Revenue':'Revenue'},inplace=True)
df

,Unnamed: 0,Job_Title,Link,Salary,Job_Type,Skill,No_of_Skills,Company_Name,Reviews,Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0
5,5,Data Scientist - Entry to Experienced Level,https://www.indeed.com/rc/clk?jk=835a2db493898...,<80000,data_scientist,"['AI', 'Quantitative Analysis', 'Data Mining',...",6,National Security Agency,173.0,4.3,...,1,0,0,0,0,0,0,0,0,0
6,6,Geospatial Data Scientist,https://www.indeed.com/rc/clk?jk=6255c4e94a7ef...,<80000,data_scientist,"['Statistical Software', 'Machine Learning', '...",10,NYC Careers,30.0,3.8,...,0,0,0,0,0,0,0,0,0,1
7,7,Data Scientist,https://www.indeed.com/rc/clk?jk=f30ab3f52226b...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL']",3,OM Partners,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
8,8,Bioinformatics Data Scientist,https://www.indeed.com/rc/clk?jk=a6e45b6264f26...,<80000,data_scientist,"['Linux', 'R', 'C/C++', 'Python']",4,University of Idaho,233.0,4.2,...,0,0,0,1,0,0,0,0,0,1
9,9,Data Scientist,https://www.indeed.com/rc/clk?jk=56090c965b57d...,<80000,data_scientist,"['JavaScript', 'Data Mining', 'TS/SCI Clearanc...",6,usajobs.gov,4227.0,4.3,...,0,0,0,1,0,0,0,0,0,1
10,10,Data Scientist,https://www.indeed.com/rc/clk?jk=8c8963cb38cd4...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
11,11,Data Scientist,https://www.indeed.com/rc/clk?jk=dffcee22fbc26...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
12,12,Data Scientist,https://www.indeed.com/rc/clk?jk=290bda935f2da...,<80000,data_scientist,"['Machine Learning', 'Analysis Skills', 'Data ...",3,Rice University,150.0,4.3,...,0,0,0,0,0,0,0,0,0,1
13,13,Jr. Data Scientist - Machine Learning,https://www.indeed.com/rc/clk?jk=8c2855de0feec...,<80000,data_scientist,"['Machine Learning', 'Python']",2,Elev8 Hire Solutions,NaN,NaN,...,0,0,0,1,0,0,0,0,0,0
14,14,Data Scientist,https://www.indeed.com/rc/clk?jk=ba1b24901c041...,<80000,data_scientist,"['TensorFlow', 'Project Planning', 'Linux', 'M...",7,Catalina Marketing,81.0,3.2,...,0,0,0,1,1,0,0,0,0,0
15,15,Enrollment Data Scientist & Econometrician,https://www.indeed.com/rc/clk?jk=392a25a453825...,<80000,data_scientist,"['Machine Learning', 'R', 'Statisical Analysis...",11,Florida Polytechnic University,16.0,3.9,...,0,0,0,1,0,0,0,0,0,1
16,16,Junior Data Scientist,https://www.indeed.com/rc/clk?jk=31ae275f05456...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL', 'Analysis Ski...",6,Achievement Network (ANet),NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
17,17,Data Scientist,https://www.indeed.com/rc/clk?jk=6be53db39253f...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Mining', 'Machi...",12,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
18,18,Data Analytics and Machine Learning Specialist,https://www.indeed.com/rc/clk?jk=3a200a28f9041...,<80000,data_scientist,['Machine Learning'],1,ExxonMobil,2234.0,4.0,...,0,0,0,1,0,0,0,0,0,1
19,19,"Postdoctoral Associate/Data Scientist, Laborat...",https://www.indeed.com/rc/clk?jk=2037d50ef8655...,<80000,data_scientist,"['LMRT', 'Machine Learning']",2,MIT,278.0,4.2,...,0,0,0,0,0,0,0,0,0,1
20,20,innovationOchsner (iO) - Data Scientist - Bens...,https://www.indeed.com/rc/clk?jk=1ab50cdc801e4...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
21,21,Statistician/Data Scientist,https://www.indeed.com/rc/clk?jk=7ef6bcd4c1cb7...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
22,22,Statistician / Data Scientist,https://www.indeed.com/rc/clk?jk=e265edb0bb163...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
23,23,"Environmental Data Scientist, Bureau of Enviro...",https://www.indeed.com/rc/clk?jk=36b066c2b1fca...,<80000,data_scientist,"['Statistical Software', 'SAS', 'SQL', 'Tableau']",4,NYC Careers,265.0,4.1,...,0,0,0,0,0,0,0,0,0,1
24,24,Environmental Data Manager/Data Scientist (Ass...,https://www.indeed.com/rc/clk?jk=15f179f4a2c91...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Management', 'P...",8,ERM Group,86.0,3.3,...,0,0,0,1,1,0,0,0,0,0
25,25,Sr. Data Scientist - Secret,https://www.indeed.com/rc/clk?jk=9bad8e7ecfd34...,<80000,data_scientist,"['Data Mining', 'R', 'Python']",3,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
26,26,innovation Ochsner - iO - Data Scientist - Ben...,https://www.indeed.com/rc/clk?jk=637c5cf376758...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
27,27,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=2ddc548ea3f36...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
28,28,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=d5ad56e19ff35...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
29,29,Data Analysis & Machine Learning Postdoctoral ...,https://www.indeed.com/rc/clk?jk=fbe8ba212a66f...,<80000,data_scientist,"['TensorFlow', 'Machine Learning', 'Git', 'Pyt...",5,Lawrence Livermore National Laboratory,111.0,4.3,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5685,5685,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=99d043cebc246...,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5686,5686,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=0474dce9d6258...,>160000,data_engineer,"['Hadoop', 'Scala', 'Java', 'Spark', 'Python',...",6,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5687,5687,Senior Data Engineer/Architect,https://www.indeed.com/rc/clk?jk=21e1e9dd6f04c...,>160000,data_engineer,"['Hive', 'Data Management', 'Pentaho', 'Scala'...",10,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5688,5688,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=2470640938d33...,>160000,data_engineer,"['Hadoop', 'Scala', 'Kafka', 'C/C++', 'Java', ...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5689,5689,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=33ee5c43de096...,>160000,data_engineer,"['Java', 'Spark', 'Data Warehouse', 'Scripting...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5690,5690,Principal Big Data Engineer,https://www.indeed.com/rc/clk?jk=2cf967d752707...,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5691,5691,Senior Software Engineer for Data Engineering,https://www.indeed.com/rc/clk?jk=2428e4a75cb6b...,>160000,data_engineer,"['Chef', 'TensorFlow', 'AI', 'Hadoop', 'Scala'...",15,NVIDIA,177.0,4.2,...,0,0,0,0,0,0,0,0,0,1
5692,5692,Senior Big Data Engineer (Contract),https://www.indeed.com/rc/clk?jk=4086608989538...,>160000,data_engineer,"['Java', 'Linux', 'Software Development', 'Had...",4,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5693,5693,Sr. Principal Data Engineer (Technology Archit...,https://www.indeed.com/rc/clk?jk=490db7aac366d...,>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,...,0,0,0,0,0,1,0,0,0,0
5694,5694,Senior Java / Big Data Engineer - Enterprise C...,https://www.indeed.com/rc/clk?jk=e3607f410b452...,>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Hadoop', 'Kafka...",9,Bloomberg,671.0,3.9,...,0,0,0,0,0,0,0,0,0,1
5695,5695,"Data Engineer Contractor (Java, Hadoop)",https://www.indeed.com/rc/clk?jk=0f09885cd26ea...,>160000,data_engineer,"['Pig', 'Hive', 'Machine Learning', 'Hadoop', ...",7,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5696,5696,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=9f43993124152...,>160000,data_engineer,"['Information Security', 'Pentaho', 'Hadoop', ...",13,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5697,5697,Senior Software Engineer - Cloud Data Engineering,https://www.indeed.com/rc/clk?jk=949aff705c220...,>160000,data_engineer,"['Akka', 'Design Patterns', 'Hadoop', 'Scala',...",9,Hewlett Packard Enterprise,3653.0,3.7,...,0,0,0,0,0,1,0,0,0,0
5698,5698,Sr. Principal Data Engineer (Solutions Architect),https://www.indeed.com/rc/clk?jk=4be71179880ef...,>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,...,0,0,0,0,0,1,0,0,0,0
5699,5699,Principal Sr. Data Engineer Lead,https://www.indeed.com/rc/clk?jk=ef58343739d2c...,>160000,data_engineer,"['Azure', 'SQL', 'Design Experience', 'Leaders...",4,Microsoft,5180.0,4.2,...,0,0,0,0,0,1,0,0,0,0
5700,5700,"Senior Software Engineer, Data Engineering",https://www.indeed.com/rc/clk?jk=b5c04a7e845bc...,>160000,data_engineer,"['System Design', 'MySQL', 'Software Developme...",18,Glooko,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5701,5701,"Sr. Director, Data Engineering",https://www.indeed.com/rc/clk?jk=a99fa88bd7339...,>160000,data_engineer,"['SOX', 'Machine Learning', 'PCI', 'Leadership...",6,Capital One,6791.0,4.0,...,0,0,0,0,0,0,1,0,0,0
5702,5702,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=0ffa0be16424d...,>160000,data_engineer,"['Machine Learning', 'PostgreSQL', 'R', 'Pytho...",6,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5703,5703,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=de80f59060f3f...,>160000,data_engineer,"['Java', 'Linux', 'Spark', 'Data Warehouse', '...",8,Coda Search,2.0,4.5,...,0,0,0,0,0,0,0,0,0,1
5704,5704,"Senior Data Engineer (Java, Hadoop)",https://www.indeed.com/rc/clk?jk=5d29315391649...,>160000,data_engineer,"['Linux', 'Hive', 'Data Management', 'Hadoop',...",14,JPMorgan Chase,21159.0,3.9,...,0,0,0,1,0,0,1,0,0,0
5705,5705,Senior Big Data Engineer (Contract),https://www.indeed.com/rc/clk?jk=fa55202b266a5...,>160000,data_engineer,"['Hadoop', 'Kafka', 'Scala', 'Java', 'Big Data...",9,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5706,5706,Senior Software Engineer - Cloud Data Engineering,https://www.indeed.com/rc/clk?jk=3d7e7b605e28a...,>160000,data_engineer,NaN,0,Aruba Networks,NaN,NaN,...,0,0,0,0,0,0,0,0,0,1
5707,5707,"Senior Data Engineer (Java, Spark, Storm, AWS,...",https://www.indeed.com/rc/clk?jk=a64eddb574b49...,>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Kafka', 'Python...",6,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5708,5708,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=876eec2fa6d83...,>160000,data_engineer,"['Hive', 'Hadoop', 'Kafka', 'HBase', 'Java', '...",6,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5709,5709,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=d701a3a542966...,>160000,data_engineer,"['Ruby', 'Hadoop', 'Scala', 'R', 'Perl', 'SAS'...",12,Stride Search,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5710,5710,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=fbe2dd71643b3...,>160000,data_engineer,"['Hive', 'Hadoop', 'Oracle', 'SQL', 'HBase', '...",12,Intelliswift Software Inc,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
5711,5711,"Principal Data Engineer (Java, Spark, Storm, AWS)",https://www.indeed.com/rc/clk?jk=70ee8b9bb5a2b...,>160000,data_engineer,"['Network', 'Scala', 'Kafka', 'Java', 'MongoDB...",8,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5712,5712,Executive Director- Architect: Data Engineerin...,https://www.indeed.com/rc/clk?jk=2c2a7f94f6ed1...,>160000,data_engineer,"['Spring', 'Data Management', 'Hadoop', 'Kafka...",13,JPMorgan Chase,21159.0,3.9,...,0,0,0,1,0,0,1,0,0,0
5713,5713,"Senior Manager, Data Engineering (hands on)",https://www.indeed.com/rc/clk?jk=1051e100b300b...,>160000,data_engineer,"['Spring', 'Ruby', 'Test Automation', 'Scripti...",15,Capital One,6791.0,4.0,...,0,0,0,0,0,0,1,0,0,0
5714,5714,Principal Visual Analytics / Big Data Engineer...,https://www.indeed.com/rc/clk?jk=605a2c61478f1...,>160000,data_engineer,"['JavaScript', 'TS/SCI Clearance', 'XML', 'Had...",11,SAIC,2279.0,4.0,...,1,0,0,0,0,0,0,0,0,1

In [6]:
median = df['Reviews'].median()
median1 = df['Stars'].median()
median2 = df['Date_Since_Posted'].median()
df['Reviews'].fillna(median, inplace = True)
df['Stars'].fillna(median1, inplace = True)
df['Date_Since_Posted'].fillna(median2, inplace = True)

In [7]:
df.Stars.fillna(df.Stars.mean()).isnull().any()

False

In [8]:
df.Reviews.fillna(df.Stars.mean()).isnull().any()

False

In [9]:
df.Date_Since_Posted.fillna(df.Date_Since_Posted.mean()).isnull().any()

False

In [10]:
df.drop_duplicates(inplace=True)
df

,Unnamed: 0,Job_Title,Link,Salary,Job_Type,Skill,No_of_Skills,Company_Name,Reviews,Stars,...,MD,DC,NC,Other_states,Consulting and Business Services,Internet and Software,Banks and Financial Services,Health Care,Insurance,Other_industries
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,"['SAP', 'SQL']",2,Express Scripts,3301.0,3.3,...,0,0,0,1,0,0,0,1,0,0
1,1,Data Scientist,https://www.indeed.com/rc/clk?jk=86afd561ea8c6...,<80000,data_scientist,"['Machine Learning', 'R', 'SAS', 'SQL', 'Python']",5,Money Mart Financial Services,387.0,3.9,...,0,0,0,0,0,0,0,0,0,0
2,2,Data Scientist,https://www.indeed.com/rc/clk?jk=e0aad317e6d45...,<80000,data_scientist,"['Data Mining', 'Data Management', 'R', 'SAS',...",9,comScore,62.0,3.5,...,0,0,0,1,0,0,0,0,0,0
3,3,Graduate Studies Program - Data Scientist,https://www.indeed.com/rc/clk?jk=1cfdd9e391a63...,<80000,data_scientist,['Certified Internal Auditor'],1,Central Intelligence Agency,158.0,4.3,...,0,1,0,0,0,0,0,0,0,1
4,4,Data Scientist I,https://www.indeed.com/rc/clk?jk=fec647775a21e...,<80000,data_scientist,"['Statistical Software', 'Time Management', 'R...",7,Federal Reserve Bank of Dallas,495.0,4.1,...,0,0,0,0,0,0,1,0,0,0
5,5,Data Scientist - Entry to Experienced Level,https://www.indeed.com/rc/clk?jk=835a2db493898...,<80000,data_scientist,"['AI', 'Quantitative Analysis', 'Data Mining',...",6,National Security Agency,173.0,4.3,...,1,0,0,0,0,0,0,0,0,0
6,6,Geospatial Data Scientist,https://www.indeed.com/rc/clk?jk=6255c4e94a7ef...,<80000,data_scientist,"['Statistical Software', 'Machine Learning', '...",10,NYC Careers,30.0,3.8,...,0,0,0,0,0,0,0,0,0,1
7,7,Data Scientist,https://www.indeed.com/rc/clk?jk=f30ab3f52226b...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL']",3,OM Partners,387.0,3.9,...,0,0,0,1,0,0,0,0,0,0
8,8,Bioinformatics Data Scientist,https://www.indeed.com/rc/clk?jk=a6e45b6264f26...,<80000,data_scientist,"['Linux', 'R', 'C/C++', 'Python']",4,University of Idaho,233.0,4.2,...,0,0,0,1,0,0,0,0,0,1
9,9,Data Scientist,https://www.indeed.com/rc/clk?jk=56090c965b57d...,<80000,data_scientist,"['JavaScript', 'Data Mining', 'TS/SCI Clearanc...",6,usajobs.gov,4227.0,4.3,...,0,0,0,1,0,0,0,0,0,1
10,10,Data Scientist,https://www.indeed.com/rc/clk?jk=8c8963cb38cd4...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
11,11,Data Scientist,https://www.indeed.com/rc/clk?jk=dffcee22fbc26...,<80000,data_scientist,"['Machine Learning', 'R', 'SPSS', 'Data Analys...",8,The University of Pittsburgh,541.0,4.2,...,0,0,0,1,0,0,0,0,0,1
12,12,Data Scientist,https://www.indeed.com/rc/clk?jk=290bda935f2da...,<80000,data_scientist,"['Machine Learning', 'Analysis Skills', 'Data ...",3,Rice University,150.0,4.3,...,0,0,0,0,0,0,0,0,0,1
13,13,Jr. Data Scientist - Machine Learning,https://www.indeed.com/rc/clk?jk=8c2855de0feec...,<80000,data_scientist,"['Machine Learning', 'Python']",2,Elev8 Hire Solutions,387.0,3.9,...,0,0,0,1,0,0,0,0,0,0
14,14,Data Scientist,https://www.indeed.com/rc/clk?jk=ba1b24901c041...,<80000,data_scientist,"['TensorFlow', 'Project Planning', 'Linux', 'M...",7,Catalina Marketing,81.0,3.2,...,0,0,0,1,1,0,0,0,0,0
15,15,Enrollment Data Scientist & Econometrician,https://www.indeed.com/rc/clk?jk=392a25a453825...,<80000,data_scientist,"['Machine Learning', 'R', 'Statisical Analysis...",11,Florida Polytechnic University,16.0,3.9,...,0,0,0,1,0,0,0,0,0,1
16,16,Junior Data Scientist,https://www.indeed.com/rc/clk?jk=31ae275f05456...,<80000,data_scientist,"['Machine Learning', 'R', 'SQL', 'Analysis Ski...",6,Achievement Network (ANet),387.0,3.9,...,0,0,0,0,0,0,0,0,0,0
17,17,Data Scientist,https://www.indeed.com/rc/clk?jk=6be53db39253f...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Mining', 'Machi...",12,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
18,18,Data Analytics and Machine Learning Specialist,https://www.indeed.com/rc/clk?jk=3a200a28f9041...,<80000,data_scientist,['Machine Learning'],1,ExxonMobil,2234.0,4.0,...,0,0,0,1,0,0,0,0,0,1
19,19,"Postdoctoral Associate/Data Scientist, Laborat...",https://www.indeed.com/rc/clk?jk=2037d50ef8655...,<80000,data_scientist,"['LMRT', 'Machine Learning']",2,MIT,278.0,4.2,...,0,0,0,0,0,0,0,0,0,1
20,20,innovationOchsner (iO) - Data Scientist - Bens...,https://www.indeed.com/rc/clk?jk=1ab50cdc801e4...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
21,21,Statistician/Data Scientist,https://www.indeed.com/rc/clk?jk=7ef6bcd4c1cb7...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
22,22,Statistician / Data Scientist,https://www.indeed.com/rc/clk?jk=e265edb0bb163...,<80000,data_scientist,"['IIS', 'TS/SCI Clearance']",2,Raytheon,3166.0,4.0,...,0,0,0,1,0,0,0,0,0,1
23,23,"Environmental Data Scientist, Bureau of Enviro...",https://www.indeed.com/rc/clk?jk=36b066c2b1fca...,<80000,data_scientist,"['Statistical Software', 'SAS', 'SQL', 'Tableau']",4,NYC Careers,265.0,4.1,...,0,0,0,0,0,0,0,0,0,1
24,24,Environmental Data Manager/Data Scientist (Ass...,https://www.indeed.com/rc/clk?jk=15f179f4a2c91...,<80000,data_scientist,"['Microsoft SQL Server', 'Data Management', 'P...",8,ERM Group,86.0,3.3,...,0,0,0,1,1,0,0,0,0,0
25,25,Sr. Data Scientist - Secret,https://www.indeed.com/rc/clk?jk=9bad8e7ecfd34...,<80000,data_scientist,"['Data Mining', 'R', 'Python']",3,Deloitte,7197.0,4.0,...,0,0,0,0,1,0,0,0,0,0
26,26,innovation Ochsner - iO - Data Scientist - Ben...,https://www.indeed.com/rc/clk?jk=637c5cf376758...,<80000,data_scientist,"['AI', 'Data Mining', 'Machine Learning', 'R',...",7,Ochsner Health System,1299.0,3.9,...,0,0,0,1,0,0,0,1,0,0
27,27,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=2ddc548ea3f36...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
28,28,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=d5ad56e19ff35...,<80000,data_scientist,NaN,0,Google,2641.0,4.3,...,0,0,0,0,0,1,0,0,0,0
29,29,Data Analysis & Machine Learning Postdoctoral ...,https://www.indeed.com/rc/clk?jk=fbe8ba212a66f...,<80000,data_scientist,"['TensorFlow', 'Machine Learning', 'Git', 'Pyt...",5,Lawrence Livermore National Laboratory,111.0,4.3,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5685,5685,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=99d043cebc246...,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5686,5686,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=0474dce9d6258...,>160000,data_engineer,"['Hadoop', 'Scala', 'Java', 'Spark', 'Python',...",6,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5687,5687,Senior Data Engineer/Architect,https://www.indeed.com/rc/clk?jk=21e1e9dd6f04c...,>160000,data_engineer,"['Hive', 'Data Management', 'Pentaho', 'Scala'...",10,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5688,5688,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=2470640938d33...,>160000,data_engineer,"['Hadoop', 'Scala', 'Kafka', 'C/C++', 'Java', ...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5689,5689,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=33ee5c43de096...,>160000,data_engineer,"['Java', 'Spark', 'Data Warehouse', 'Scripting...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5690,5690,Principal Big Data Engineer,https://www.indeed.com/rc/clk?jk=2cf967d752707...,>160000,data_engineer,"['Scripting', 'Hadoop', 'SQL', 'Big Data', 'Sp...",8,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5691,5691,Senior Software Engineer for Data Engineering,https://www.indeed.com/rc/clk?jk=2428e4a75cb6b...,>160000,data_engineer,"['Chef', 'TensorFlow', 'AI', 'Hadoop', 'Scala'...",15,NVIDIA,177.0,4.2,...,0,0,0,0,0,0,0,0,0,1
5692,5692,Senior Big Data Engineer (Contract),https://www.indeed.com/rc/clk?jk=4086608989538...,>160000,data_engineer,"['Java', 'Linux', 'Software Development', 'Had...",4,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5693,5693,Sr. Principal Data Engineer (Technology Archit...,https://www.indeed.com/rc/clk?jk=490db7aac366d...,>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,...,0,0,0,0,0,1,0,0,0,0
5694,5694,Senior Java / Big Data Engineer - Enterprise C...,https://www.indeed.com/rc/clk?jk=e3607f410b452...,>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Hadoop', 'Kafka...",9,Bloomberg,671.0,3.9,...,0,0,0,0,0,0,0,0,0,1
5695,5695,"Data Engineer Contractor (Java, Hadoop)",https://www.indeed.com/rc/clk?jk=0f09885cd26ea...,>160000,data_engineer,"['Pig', 'Hive', 'Machine Learning', 'Hadoop', ...",7,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5696,5696,Principal Data Engineer,https://www.indeed.com/rc/clk?jk=9f43993124152...,>160000,data_engineer,"['Information Security', 'Pentaho', 'Hadoop', ...",13,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5697,5697,Senior Software Engineer - Cloud Data Engineering,https://www.indeed.com/rc/clk?jk=949aff705c220...,>160000,data_engineer,"['Akka', 'Design Patterns', 'Hadoop', 'Scala',...",9,Hewlett Packard Enterprise,3653.0,3.7,...,0,0,0,0,0,1,0,0,0,0
5698,5698,Sr. Principal Data Engineer (Solutions Architect),https://www.indeed.com/rc/clk?jk=4be71179880ef...,>160000,data_engineer,"['Microsoft SQL Server', 'Machine Learning', '...",20,realtor.com,36.0,3.6,...,0,0,0,0,0,1,0,0,0,0
5699,5699,Principal Sr. Data Engineer Lead,https://www.indeed.com/rc/clk?jk=ef58343739d2c...,>160000,data_engineer,"['Azure', 'SQL', 'Design Experience', 'Leaders...",4,Microsoft,5180.0,4.2,...,0,0,0,0,0,1,0,0,0,0
5700,5700,"Senior Software Engineer, Data Engineering",https://www.indeed.com/rc/clk?jk=b5c04a7e845bc...,>160000,data_engineer,"['System Design', 'MySQL', 'Software Developme...",18,Glooko,387.0,3.9,...,0,0,0,0,0,0,0,0,0,0
5701,5701,"Sr. Director, Data Engineering",https://www.indeed.com/rc/clk?jk=a99fa88bd7339...,>160000,data_engineer,"['SOX', 'Machine Learning', 'PCI', 'Leadership...",6,Capital One,6791.0,4.0,...,0,0,0,0,0,0,1,0,0,0
5702,5702,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=0ffa0be16424d...,>160000,data_engineer,"['Machine Learning', 'PostgreSQL', 'R', 'Pytho...",6,Harnham,6.0,4.8,...,0,0,0,0,1,0,0,0,0,0
5703,5703,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=de80f59060f3f...,>160000,data_engineer,"['Java', 'Linux', 'Spark', 'Data Warehouse', '...",8,Coda Search,2.0,4.5,...,0,0,0,0,0,0,0,0,0,1
5704,5704,"Senior Data Engineer (Java, Hadoop)",https://www.indeed.com/rc/clk?jk=5d29315391649...,>160000,data_engineer,"['Linux', 'Hive', 'Data Management', 'Hadoop',...",14,JPMorgan Chase,21159.0,3.9,...,0,0,0,1,0,0,1,0,0,0
5705,5705,Senior Big Data Engineer (Contract),https://www.indeed.com/rc/clk?jk=fa55202b266a5...,>160000,data_engineer,"['Hadoop', 'Kafka', 'Scala', 'Java', 'Big Data...",9,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5706,5706,Senior Software Engineer - Cloud Data Engineering,https://www.indeed.com/rc/clk?jk=3d7e7b605e28a...,>160000,data_engineer,NaN,0,Aruba Networks,387.0,3.9,...,0,0,0,0,0,0,0,0,0,1
5707,5707,"Senior Data Engineer (Java, Spark, Storm, AWS,...",https://www.indeed.com/rc/clk?jk=a64eddb574b49...,>160000,data_engineer,"['Java', 'Big Data', 'Spark', 'Kafka', 'Python...",6,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5708,5708,Senior Big Data Engineer,https://www.indeed.com/rc/clk?jk=876eec2fa6d83...,>160000,data_engineer,"['Hive', 'Hadoop', 'Kafka', 'HBase', 'Java', '...",6,Workbridge Associates,40.0,3.4,...,0,0,0,0,0,0,0,0,0,1
5709,5709,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=d701a3a542966...,>160000,data_engineer,"['Ruby', 'Hadoop', 'Scala', 'R', 'Perl', 'SAS'...",12,Stride Search,387.0,3.9,...,0,0,0,0,0,0,0,0,0,0
5710,5710,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=fbe2dd71643b3...,>160000,data_engineer,"['Hive', 'Hadoop', 'Oracle', 'SQL', 'HBase', '...",12,Intelliswift Software Inc,387.0,3.9,...,0,0,0,0,0,0,0,0,0,0
5711,5711,"Principal Data Engineer (Java, Spark, Storm, AWS)",https://www.indeed.com/rc/clk?jk=70ee8b9bb5a2b...,>160000,data_engineer,"['Network', 'Scala', 'Kafka', 'Java', 'MongoDB...",8,Jobspring Partners,31.0,3.7,...,0,0,0,0,0,0,0,0,0,1
5712,5712,Executive Director- Architect: Data Engineerin...,https://www.indeed.com/rc/clk?jk=2c2a7f94f6ed1...,>160000,data_engineer,"['Spring', 'Data Management', 'Hadoop', 'Kafka...",13,JPMorgan Chase,21159.0,3.9,...,0,0,0,1,0,0,1,0,0,0
5713,5713,"Senior Manager, Data Engineering (hands on)",https://www.indeed.com/rc/clk?jk=1051e100b300b...,>160000,data_engineer,"['Spring', 'Ruby', 'Test Automation', 'Scripti...",15,Capital One,6791.0,4.0,...,0,0,0,0,0,0,1,0,0,0
5714,5714,Principal Visual Analytics / Big Data Engineer...,https://www.indeed.com/rc/clk?jk=605a2c61478f1...,>160000,data_engineer,"['JavaScript', 'TS/SCI Clearance', 'XML', 'Had...",11,SAIC,2279.0,4.0,...,1,0,0,0,0,0,0,0,0,1

In [11]:
df.drop(columns = {'Skill','No_of_Skills'},inplace=True)

In [12]:
df.isnull().sum()

Unnamed: 0                             0
Job_Title                              0
Link                                   0
Salary                                 0
Job_Type                               0
Company_Name                         104
Reviews                                0
Stars                                  0
Date_Since_Posted                      0
Description                          302
Location                             252
Revenue                             3698
Employees                           2516
Industry                            1889
python                                 0
sql                                    0
machine learning                       0
r                                      0
hadoop                                 0
tableau                                0
sas                                    0
spark                                  0
java                                   0
Others                                 0
CA                                     0
NY                                     0
VA                                     0
TX                                     0
MA                                     0
IL                                     0
WA                                     0
MD                                     0
DC                                     0
NC                                     0
Other_states                           0
Consulting and Business Services       0
Internet and Software                  0
Banks and Financial Services           0
Health Care                            0
Insurance                              0
Other_industries                       0
dtype: int64

In [13]:
df.drop(columns = {'MD','DC','NC','Other_states','Consulting and Business Services','Internet and Software','Banks and Financial Services','Health Care','Insurance','Other_industries'},inplace=True)

In [14]:
df.drop(columns = {'python', 'sql', 'machine learning',
      'r', 'hadoop', 'tableau', 'sas', 'spark', 'java', 'Others', 'CA', 'NY',
       'VA', 'TX', 'MA', 'IL', 'WA'}, inplace=True)
#df

In [15]:
df.dropna(subset=['Industry','Employees','Revenue','Description','Location'],inplace=True)
df

,Unnamed: 0,Job_Title,Link,Salary,Job_Type,Company_Name,Reviews,Stars,Date_Since_Posted,Description,Location,Revenue,Employees,Industry
0,0,Data Scientist,https://www.indeed.com/rc/clk?jk=6a105f495c36a...,<80000,data_scientist,Express Scripts,3301.0,3.3,1.0,"[<p><b>POSITION SUMMARY</b></p>, <p>\r\r\nThe ...",MO,More than $10B (USD),"10,000+",Health Care
12,12,Data Scientist,https://www.indeed.com/rc/clk?jk=290bda935f2da...,<80000,data_scientist,Rice University,150.0,4.3,30.0,[<p>Salary Commensurate with Experience and Qu...,TX,Less than $1B (USD),"Less than 10,000",Education and Schools
14,14,Data Scientist,https://www.indeed.com/rc/clk?jk=ba1b24901c041...,<80000,data_scientist,Catalina Marketing,81.0,3.2,30.0,"[<p><b>WHY CATALINA\r\r\n</b></p>, <p>Catalina...",GA,Less than $1B (USD),"Less than 10,000",Consulting and Business Services
18,18,Data Analytics and Machine Learning Specialist,https://www.indeed.com/rc/clk?jk=3a200a28f9041...,<80000,data_scientist,ExxonMobil,2234.0,4.0,11.0,[<p>ExxonMobil Research and Engineering Compan...,NJ,More than $10B (USD),"10,000+",Energy and Utilities
21,21,Statistician/Data Scientist,https://www.indeed.com/rc/clk?jk=7ef6bcd4c1cb7...,<80000,data_scientist,Raytheon,3166.0,4.0,30.0,[<p>Raytheon is an Equal Opportunity/Affirmati...,MO,More than $10B (USD),"10,000+",Aerospace and Defense
22,22,Statistician / Data Scientist,https://www.indeed.com/rc/clk?jk=e265edb0bb163...,<80000,data_scientist,Raytheon,3166.0,4.0,30.0,[<p>Raytheon is an Equal Opportunity/Affirmati...,MO,More than $10B (USD),"10,000+",Aerospace and Defense
27,27,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=2ddc548ea3f36...,<80000,data_scientist,Google,2641.0,4.3,21.0,[<ul><li>\r\r\nWe are accepting applications u...,NY,More than $10B (USD),"10,000+",Internet and Software
28,28,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=d5ad56e19ff35...,<80000,data_scientist,Google,2641.0,4.3,21.0,[<ul><li>\r\r\nWe are accepting applications u...,MA,More than $10B (USD),"10,000+",Internet and Software
29,29,Data Analysis & Machine Learning Postdoctoral ...,https://www.indeed.com/rc/clk?jk=fbe8ba212a66f...,<80000,data_scientist,Lawrence Livermore National Laboratory,111.0,4.3,2.0,[<p><b><i>Science and Technology on a Mission!...,CA,$1B to $5B (USD),"Less than 10,000",Government
30,30,Applied Machine Learning Scientist - Digital I...,https://www.indeed.com/rc/clk?jk=25c78fd15a122...,<80000,data_scientist,Adobe,484.0,4.3,30.0,[<p>Adobe Photoshop is used by over 90% of the...,CA,$5B to $10B (USD),"10,000+",Internet and Software
32,32,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=83bb741f685c3...,<80000,data_scientist,Google,2641.0,4.3,21.0,[<ul><li>\r\r\nWe are accepting applications u...,CA,More than $10B (USD),"10,000+",Internet and Software
34,34,"Google AI Resident, 2019 Start (Fixed-Term Emp...",https://www.indeed.com/rc/clk?jk=db37806307dad...,<80000,data_scientist,Google,2641.0,4.3,21.0,[<ul><li>\r\r\nWe are accepting applications u...,WA,More than $10B (USD),"10,000+",Internet and Software
37,37,Machine Learning Scientist II,https://www.indeed.com/rc/clk?jk=b0b692b299eee...,<80000,data_scientist,Microsoft,5178.0,4.2,5.0,[<ul><li>2+ years of experience building pract...,WA,More than $10B (USD),"10,000+",Internet and Software
41,41,Machine Learning,https://www.indeed.com/rc/clk?jk=33f4f5ff14420...,<80000,data_scientist,Twitter,63.0,3.9,30.0,"[<p><b>What You’ll Do:</b></p>, <p>You will wo...",CA,$1B to $5B (USD),"Less than 10,000",Internet and Software
43,43,Machine Learning,https://www.indeed.com/rc/clk?jk=4cfe1424f1f24...,<80000,data_scientist,Twitter,63.0,3.9,30.0,"[<p><b>Who We Are:</b></p>, <p>\r\r\nMachine l...",NY,$1B to $5B (USD),"Less than 10,000",Internet and Software
50,50,Data Scientist,https://www.indeed.com/rc/clk?jk=fedb44978921f...,80000-99999,data_scientist,T-Mobile,8595.0,4.0,1.0,[<ul><li>Perform ad hoc data mining and statis...,WA,More than $10B (USD),"10,000+",Telecommunications
51,51,Data Scientist-Tchnlgy,https://www.indeed.com/rc/clk?jk=0b9ad9290db1c...,80000-99999,data_scientist,Walmart,157456.0,3.6,1.0,"[<p><b>Position Description</b></p>, <ul><li>\...",TX,More than $10B (USD),"10,000+",Retail
53,53,Data Scientist,https://www.indeed.com/rc/clk?jk=b0bb09d1f5f9f...,80000-99999,data_scientist,"NextEra Energy, Inc.",248.0,3.8,3.0,"[<p><b>Requisition ID:</b> 25176</p>, <p>\r\r\...",FL,$1B to $5B (USD),"10,000+",Energy and Utilities
55,55,Data Scientist,https://www.indeed.com/rc/clk?jk=90db0e680e721...,80000-99999,data_scientist,Walmart,157456.0,3.6,7.0,"[<p><b>Position Description</b></p>, <ul><li>\...",AR,More than $10B (USD),"10,000+",Retail
57,57,Data Scientist,https://www.indeed.com/rc/clk?jk=5e5f660fe4f20...,80000-99999,data_scientist,Microsoft,5178.0,4.2,10.0,[<p>Online Advertising is one of the fastest g...,WA,More than $10B (USD),"10,000+",Internet and Software
58,58,Data Scientist,https://www.indeed.com/rc/clk?jk=41e48027cfc73...,80000-99999,data_scientist,Dell,8696.0,4.0,8.0,[<p>Dell provides the technology that transfor...,TX,More than $10B (USD),"10,000+",Computers and Electronics
60,60,Data Scientist - Labor Planning & Analytics,https://www.indeed.com/rc/clk?jk=2e91b90841f2a...,80000-99999,data_scientist,Dick's Sporting Goods,4635.0,3.5,4.0,[<ul><li>Conduct advanced analysis of in-store...,PA,$5B to $10B (USD),"10,000+",Retail
61,61,Associate Data Scientist,https://www.indeed.com/rc/clk?jk=42bcf6e4c861c...,80000-99999,data_scientist,Hallmark,3006.0,3.9,10.0,"[<p>reqid: 23104</p>, <p><b><i>\r\r\nWHEN YOU ...",MO,$1B to $5B (USD),"Less than 10,000",Consumer Goods and Services
62,62,D3 - Junior Data Scientist 1,https://www.indeed.com/rc/clk?jk=8b8e6b9036927...,80000-99999,data_scientist,Allstate,5671.0,3.8,14.0,[<p><b>Where good people build rewarding caree...,NC,More than $10B (USD),"10,000+",Insurance
66,66,Data Scientist (Corporate),https://www.indeed.com/rc/clk?jk=e1a8834f47788...,80000-99999,data_scientist,MGM Resorts International,1296.0,4.0,4.0,"[<p><b>Location:\r\r\n</b></p>, <p>Become one ...",NV,$5B to $10B (USD),"10,000+","Restaurants, Travel and Leisure"
67,67,Junior Data Scientist,https://www.indeed.com/rc/clk?jk=8449855ca5e0f...,80000-99999,data_scientist,Interactive Brokers,27.0,3.3,30.0,[<ul><li>\r\r\nCollect and analyze various tel...,CT,$1B to $5B (USD),"Less than 10,000",Banks and Financial Services
68,68,D3 - Junior Data Scientist,https://www.indeed.com/rc/clk?jk=8ed0818ce7970...,80000-99999,data_scientist,Allstate,5671.0,3.8,30.0,[<p><b>Where good people build rewarding caree...,WA,More than $10B (USD),"10,000+",Insurance
69,69,Data Scientist II (Forecasting & Scheduling),https://www.indeed.com/rc/clk?jk=a3e5d7f3b2427...,80000-99999,data_scientist,Grubhub,322.0,3.3,28.0,[<p>\r\r\nGrubhub is looking for an innately c...,REMOTE,Less than $1B (USD),"Less than 10,000",Internet and Software
71,71,Data Scientist,https://www.indeed.com/rc/clk?jk=73ffc2b9ce409...,80000-99999,data_scientist,UPMC,2433.0,3.8,4.0,"[<p><b>Description</b>\r\r\n</p>, <ul><li>\r\r...",PA,More than $10B (USD),"10,000+",Health Care
74,74,"Data Scientist, International Programs",https://www.indeed.com/rc/clk?jk=daec1126b3b53...,80000-99999,data_scientist,Operation Smile,32.0,4.6,5.0,"[<ul><li><h3 class=""jobSectionHeader""><b>Provi...",VA,Less than $1B (USD),"Less than 10,000",Organization
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5580,5580,"Data Engineer, Senior",https://www.indeed.com/rc/clk?jk=178ecdd169c20...,140000-159999,data_engineer,Booz Allen Hamilton,1733.0,3.9,30.0,[<ul>\r\r\n<li>4+ years of experience in an IT...,VA,$5B to $10B (USD),"10,000+",Consulting and Business Services
5588,5588,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=467cba3ed4389...,140000-159999,data_engineer,Capital One,6791.0,4.0,30.0,"[<p>At Capital One, we’re building a leading i...",VA,More than $10B (USD),"10,000+",Banks and Financial Services
5589,5589,Senior DevOps Engineer- Data Engineering,https://www.indeed.com/rc/clk?jk=ffd3d13bf9985...,140000-159999,data_engineer,Vistaprint,101.0,3.8,30.0,"[<p><b>Driven</b><b> by Curiosity.</b></p>, <p...",MA,$1B to $5B (USD),"Less than 10,000",Retail
5591,5591,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=95a0774216f15...,140000-159999,data_engineer,Transamerica,621.0,3.7,25.0,[<p>\r\r\nSr. Data Engineers are responsible f...,CO,More than $10B (USD),"Less than 10,000",Insurance
5592,5592,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=59acab59fc535...,140000-159999,data_engineer,Transamerica,621.0,3.7,25.0,[<p>\r\r\nSr. Data Engineers are responsible f...,CO,More than $10B (USD),"Less than 10,000",Insurance
5594,5594,"Data Engineer, Senior",https://www.indeed.com/rc/clk?jk=3c3baa1b9b92a...,140000-159999,data_engineer,Booz Allen Hamilton,1733.0,3.9,26.0,[<ul>\r\r\n<li>5+ years of experience with dim...,NC,$5B to $10B (USD),"10,000+",Consulting and Business Services
5595,5595,"Data Engineer - Finance Tech, Data Transformat...",https://www.indeed.com/rc/clk?jk=fe9feeba490a9...,140000-159999,data_engineer,Capital One,6791.0,4.0,30.0,"[<p>At Capital One, we’re building a leading i...",VA,More than $10B (USD),"10,000+",Banks and Financial Services
5597,5597,"Data Engineer, Senior",https://www.indeed.com/rc/clk?jk=424c0affc2001...,140000-159999,data_engineer,Booz Allen Hamilton,1733.0,3.9,30.0,[<ul>\r\r\n<li>5+ years of experience with dim...,VA,$5B to $10B (USD),"10,000+",Consulting and Business Services
5598,5598,"Data Engineer, Senior",https://www.indeed.com/rc/clk?jk=94cc482db93c5...,140000-159999,data_engineer,Booz Allen Hamilton,1733.0,3.9,30.0,[<ul>\r\r\n<li>5+ years of experience with dim...,VA,$5B to $10B (USD),"10,000+",Consulting and Business Services
5600,5600,Big Data Engineer Lead (Java),https://www.indeed.com/rc/clk?jk=66ec0808a8ab4...,140000-159999,data_engineer,JPMorgan Chase,21159.0,3.9,30.0,[<ul><li>Extensive experience building RESTful...,NJ,More than $10B (USD),"10,000+",Banks and Financial Services
5601,5601,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=b4b25df365eb8...,140000-159999,data_engineer,Capital One,6791.0,4.0,30.0,"[<p>At Capital One, we’re building a leading i...",VA,More than $10B (USD),"10,000+",Banks and Financial Services
5602,5602,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=542137608a5e4...,140000-159999,data_engineer,Capital One,6791.0,4.0,30.0,"[<p>At Capital One, we’re building a leading i...",VA,More than $10B (USD),"10,000+",Banks and Financial Services
5610,5610,Principal Cloud Data Engineer/Architect,https://www.indeed.com/rc/clk?jk=20c8a60f9b4cf...,140000-159999,data_engineer,Discover Financial Services,1948.0,4.0,12.0,[<p>As a Principal Cloud Data Engineer &amp; A...,IL,$5B to $10B (USD),"10,000+",Banks and Financial Services
5616,5616,Data Engineer,https://www.indeed.com/rc/clk?jk=572800985f9ef...,>160000,data_engineer,Moody's Corporation,284.0,3.8,1.0,"[<ul><li>Brainstorm, design and develop an ent...",NY,$1B to $5B (USD),"Less than 10,000",Banks and Financial Services
5620,5620,AM- Data Engineer- Machine Learning Workloads,https://www.indeed.com/rc/clk?jk=6b7ca094e21d5...,>160000,data_engineer,JPMorgan Chase,21159.0,3.9,12.0,"[<ul><li>Design, construct, install, test and ...",NY,More than $10B (USD),"10,000+",Banks and Financial Services
5623,5623,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=284556c35af2f...,>160000,data_engineer,"Pandora Media, Inc.",36.0,3.9,19.0,[<p>Data engineers at Pandora are responsible ...,CA,$1B to $5B (USD),"Less than 10,000","Media, News and Publishing"
5625,5625,Data Science Data Engineer,https://www.indeed.com/rc/clk?jk=a1e9f9a2017b2...,>160000,data_engineer,JPMorgan Chase,21159.0,3.9,27.0,[<ul><li> BS/BA degree or equivalent experienc...,NY,More than $10B (USD),"10,000+",Banks and Financial Services
5626,5626,Data Engineer,https://www.indeed.com/rc/clk?jk=a2e146ac9066f...,>160000,data_engineer,AppDynamics,14.0,3.4,30.0,"[<p><b>About Us</b></p>, <p>\r\r\nAppDynamics ...",CA,Less than $1B (USD),"Less than 10,000",Internet and Software
5635,5635,People Technology - LCA Technology - Data Engi...,https://www.indeed.com/rc/clk?jk=8303e5cbecb8c...,>160000,data_engineer,Goldman Sachs,1226.0,4.0,28.0,"[<p>What We Do</p>, <p><br/>\r\r\nAt Goldman S...",NJ,More than $10B (USD),"10,000+",Banks and Financial Services
5636,5636,Lead Data Engineer,https://www.indeed.com/rc/clk?jk=2f5907257d6eb...,>160000,data_engineer,ThoughtWorks,64.0,4.2,30.0,[<p><i>ThoughtWorks is a global software consu...,CA,Less than $1B (USD),"Less than 10,000",Internet and Software
5639,5639,Lead Data Engineer,https://www.indeed.com/rc/clk?jk=194a8554243e7...,>160000,data_engineer,ThoughtWorks,64.0,4.2,30.0,[<p><i>ThoughtWorks is a global software consu...,NY,Less than $1B (USD),"Less than 10,000",Internet and Software
5645,5645,Data Engineer - Center of Data Science Team,https://www.indeed.com/rc/clk?jk=e6a9efb8d79f6...,>160000,data_engineer,New York Life Insurance Company,1788.0,3.7,30.0,"[<p><b>\r\r\nNew York Life</b>, the largest wr...",NY,More than $10B (USD),"10,000+",Insurance
5650,5650,Senior Data Engineer,https://www.indeed.com/rc/clk?jk=ae4e1ec9a5974...,>160000,data_engineer,BigCommerce,29.0,3.8,30.0,[<ul>\r\r\n<li>Build scalable and reliable nea...,CA,Less than $1B (USD),"Less than 10,000",Internet and Software
5651,5651,"Data Engineer, Senior",https://www.indeed.com/rc/clk?jk=14e178bfd2373...,>160000,data_engineer,Booz Allen Hamilton,1733.0,3.9,30.0,[<ul>\r\r\n<li>5+ years of experience in an IT...,DC,$5B to $10B (USD),"10,000+",Consulting and Business Services
5699,5699,Principal Sr. Data Engineer Lead,https://www.indeed.com/rc/clk?jk=ef58343739d2c...,>160000,data_engineer,Microsoft,5180.0,4.2,30.0,"[<ul><li>Develop, grow and manage the team to ...",WA,More than $10B (USD),"10,000+",Internet and Software
5701,5701,"Sr. Director, Data Engineering",https://www.indeed.com/rc/clk?jk=a99fa88bd7339...,>160000,data_engineer,Capital One,6791.0,4.0,18.0,"[<p>At Capital One, we’re building a leading i...",VA,More than $10B (USD),"10,000+",Banks and Financial Services
5704,5704,"Senior Data Engineer (Java, Hadoop)",https://www.indeed.com/rc/clk?jk=5d29315391649...,>160000,data_engineer,JPMorgan Chase,21159.0,3.9,25.0,[<ul><li>Masters or Bachelors in Computer Scie...,NJ,More than $10B (USD),"10,000+",Banks and Financial Services
5706,5706,Senior Software Engineer - Cloud Data Engineering,https://www.indeed.com/rc/clk?jk=3d7e7b605e28a...,>160000,data_engineer,Aruba Networks,387.0,3.9,14.0,"[<p>Aruba, a Hewlett Packard Enterprise Compan...",CA,Less than $1B (USD),"Less than 10,000",Telecommunications
5712,5712,Executive Director- Architect: Data Engineerin...,https://www.indeed.com/rc/clk?jk=2c2a7f94f6ed1...,>160000,data_engineer,JPMorgan Chase,21159.0,3.9,22.0,[<ul><li>Identify and solve hybrid cloud data ...,DE,More than $10B (USD),"10,000+",Banks and Financial Services
5713,5713,"Senior Manager, Data Engineering (hands on)",https://www.indeed.com/rc/clk?jk=1051e100b300b...,>160000,data_engineer,Capital One,6791.0,4.0,30.0,"[<p>At Capital One, we’re building a leading i...",NY,More than $10B (USD),"10,000+",Banks and Financial Services

In [22]:
df.isnull().sum()

Unnamed: 0           0
Job_Title            0
Link                 0
Salary               0
Job_Type             0
Company_Name         0
Reviews              0
Stars                0
Date_Since_Posted    0
Description          0
Location             0
Revenue              0
Employees            0
Industry             0
dtype: int64

In [20]:
minus = df['Salary'].apply(lambda x : x.replace('<','').replace('>',''))

In [18]:
#df['Reviews'].astype(int)

In [21]:
df.Salary.value_counts()

100000-119999    525
120000-139999    502
140000-159999    292
80000-99999      284
<80000           188
>160000           99
Name: Salary, dtype: int64

In [24]:
df_final = df.drop(['Unnamed: 0'], axis=1)

df_final.to_csv('cleaned_data.csv',index = False)